extends layout

block content
  div(class='container')
    div(class='nine columns')
      h4= message
      h5= error.status
    div(class='three columns')
      img(class='u-max-full-width' class='urca-banner' src="/images/urca-logo3.png")
    
