extends layout

block content
    div(class='container')
        div(class='row' class='page-title')
            div(class='nine columns')
                | Files caricati correttamente.
            div(class='three columns')
                    img(class='u-max-full-width' class='urca-banner' src="/images/urca-logo.png")