html {
  background-color: whitesmoke;
}

hr {
  border-top: 1px solid #2F3837;
  margin-bottom: 0px;
}

article {
  background-color: #f0f1f1;
  margin-top: 5px;
}

i {
  margin-right: 5px;
}

input, button {
  margin-bottom: 5px;
}

#home, h4 {
  color: #FF5434;
}

#check {
  display: none;
}


#header-hr {
  margin-top: 0px
}

.button.button-primary, button.button-primary, input[type=button].button-primary, input[type=reset].button-primary, input[type=submit].button-primary {
  background-color: #b6b07b;
  border: none;
}

.button.button-primary:hover, button.button-primary:hover, input[type=button].button-primary:hover, input[type=reset].button-primary:hover, input[type=submit].button-primary:hover {
  background-color: #b6b07b;
  border: 2px solid;
}

.container {
  background-color: white;
  padding: 5px;
  color: #2f3837;
}

.layout-container {
  margin-top: 10px;
  border-radius: 6px 6px 0 0;
  background-color: #2F3837;
}

.nav ul li {
  display: inline-block;
  margin: 0 20px 0 0;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.nav ul li a:hover {
  color: #FF5434;
}

.bars-btn {
  color: #FF5434;
  font-size: 27px;
  margin-right: 17px;
  cursor: pointer;
  display: none;
}

.info-weather {
  width: 25%;
  text-transform: uppercase;
  font-size: xx-small;
  font-weight: bold;
  color: white;
  text-align: center;
  height: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.weather-icon {
  max-width: 15%;
  height: auto;
}

#weather-row {
  background-color: lightsteelblue;
}

#download-box ul {
  list-style: none;
}

#download-box ul li a {
  padding: 5px;
  text-decoration: none;
}

#checkbox-container label {
  font-weight: normal;
}

.answer {
  font-weight: normal;
  font-size: smaller;
}

.question-arg {
  font-style: italic;
  text-decoration: underline;
}

footer .container {
  border-radius: 0 0 6px 6px;
}

.post-title {
  color: #FF5434;
}

.post-title a {
  color: #FF5434;
  text-decoration: none;
}

.post-title a:hover {
  text-decoration: underline;
}

.post-image {
  border: 2px solid #FF5434;
}

.post-date {
  font-size: 1em;
  color: #999;
  font-weight: 500
}

.err-msg {
  background-color: #ff0033;
  padding-left: 5px;
  border-radius: 2px;
}

.footer-text {
  font-size: small;
}

@media (max-width: 400px) {
  .layout-container {
    position: fixed;
    z-index: 2;
  }
}

@media (min-width: 400px) and (max-width: 550px) {
  .layout-container {
    position: fixed;
    left: 7.5%;
    z-index: 2;
  }
}

@media (max-width: 550px) {
  .urca-banner {
    display: none;
  }
}

@media (min-width: 550px) and (max-width: 961px) {
  .layout-container {
    position: fixed;
    left: 10%;
    z-index: 2;
  }
}

@media (max-width: 961px) {
  .layout-container {
    margin-top: 0;
  }
  .nav ul {
    display: none;
    width: 100%;
    text-align: center;
  }
  .nav ul li {
    line-height: 80px;
    display: block;
  }
  .bars-btn {
    display: block;
  }
  header, .page-title {
    margin-top: 60px;
  }
  .container {
    padding: 2px;
    border-radius: 0;
  }
  .weather-icon {
    max-width: 35%;
    height: auto;
  }
  .weather-desc {
    display: none;
  }
  input[type=radio] {
    display: none;
  }
  input[type=radio]:checked+span {
    background-color: #d1ecf1;
  }
  .footer-text {
    font-size: x-small;
  }
}